// 0: Manifest
manifest {
    name = 'flatironQA'
    description = 'QA process'
    mainScript = 'main.nf'
    version = "1.0.0"
}
includeConfig 'conf/customised_pipeline_resources.config'
includeConfig 'conf/containers/quay.config'

params {
    input1 = 'input1.csv'    // Default path to the first input CSV file
    input2 = 'input2.csv'    // Default path to the second input CSV file
    input3 = 'input3.csv'
    market = 'default_market' // Default value for the market parameter
    tumor = 'default_tumor'  // Default value for the tumor parameter
    delivery = 'default_delivery' // Default value for the delivery parameter
    outdir = 'results'
    date_var = 'metdiagnosisdate'
    group_var = 'ethnicity'
     tracedir = "${params.outdir}/pipeline_info"
    obtain_pipeline_metadata = false
    report = true

    // when set to true, prints help and exits
    help = false

    // execution related defaults
    config = 'conf/executors/standard.config'
    echo = false
    executor = false

  // AWS batch
    aws_region = 'eu-west-1'
    aws_batch_default_queue = "optimal-instance-1tb-ami-on-demand-queue"
    aws_batch_cli_path = '/home/ec2-user/miniconda/bin/aws'
    aws_batch_fetch_instance_type = true
    aws_batch_max_parallel_transfers = 2
    aws_batch_volumes = '/home/ec2-user/.aws:/root/.aws'

}
profiles {
    docker { docker.enabled = true }
    dockerhub { includeConfig 'conf/containers/dockerhub.config' }
}

includeConfig 'conf/data/data.config' // Loads in data
includeConfig 'conf/resources.config' // Loads in resources

process {
 queue = params.aws_batch_default_queue
 container = params.main_container

    withLabel: bash_code {
        container = params.main_container
    }
    withName: runRMarkdown {
        container = 'hsyed91/rpackages:latest' 
    }
}

executor {
      name = params.executor
    queueSize = params.queueSize
}
docker {
    enabled = true
    runOptions = '-v /data:/data'
}
